*{
    margin:auto;
  }
  body{
    width: 90%;
    background-image: url(pizza.jpg)
  }
  
  .pizzas{
    width: 40%;
    height: auto;
    float: left;
  }
  #menu{
      text-align: left;
        color: black;
  }
  #name{
      text-align: left;
      color: brown;
  }
  #nomPizza {
    width: 100px; 
    height: 100px; 
    background: yellow;
    margin:30px;
    border-radius: 30%;
    margin-right: 40%;
  }
  #nomPizza2 {
    width: 100px; 
    height: 100px; 
    background: green;
    margin:30px;
    border-radius: 30%;
    margin-right: 40%;
  
  }
  #nomPizza3 {
    width: 100px; 
    height: 100px; 
    background: orange;
    margin:30px;
    border-radius: 30%;
    margin-right: 40%;
  
  }
  #nomPizza4 {
    width: 100px; 
    height: 100px; 
    background: red;
    margin:30px;
    border-radius: 30%;
    margin-right: 40%;
  
  }
  #pizza{
    width: 50%;
    height: auto;
    overflow: hidden;
    text-align: center;
    float: left;
  }
  #rebanadaPizza {
      position: relative;
      border: 10px solid brown;
      padding: 1px;
      margin: 40px;
      width: 21em;
      height: 21em;
      border-radius: 70%;
      list-style: none;
      overflow: hidden;
      background: gray;
      
    }
    li {
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 50%;
      transform-origin: 0% 100%;
      border:solid 2px black;
    }
    .text {
      position: absolute;
      left: -100%;
      width: 200%;
      height: 200%;
      text-align: center;
      transform: skewY(45deg) rotate(15deg);
      padding-top: 20px;
      
    }
    li:first-child {
      transform: rotate(0deg) skewY(-45deg);
    }
    li:nth-child(2) {
      transform: rotate(45deg) skewY(-45deg);
    }
    li:nth-child(3) {
      transform: rotate(90deg) skewY(-45deg);
    }
    li:nth-child(4) {
      transform: rotate(135deg) skewY(-45deg);
    }
    li:nth-child(5) {
      transform: rotate(180deg) skewY(-45deg);
    }
    li:nth-child(6) {
      transform: rotate(225deg) skewY(-45deg);
    }
    li:nth-child(7) {
      transform: rotate(270deg) skewY(-45deg);
    }
    li:nth-child(8) {
      transform: rotate(315deg) skewY(-45deg);
    }
    li:first-child .text {
      background: transparent;
    }
    li:nth-child(2) .text {
      background: transparent;
    }
    li:nth-child(3) .text {
      background: transparent;
    }
    li:nth-child(4) .text {
      background: transparent;
    }
    li:nth-child(5) .text {
      background: transparent;
    }
    li:nth-child(6) .text {
      background: transparent;
    }
    li:nth-child(7) .text {
      background: transparent;
    }
    li:nth-child(8) .text {
      background: transparent;
    }